<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>404</title>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js" ></script>
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<div class="full-box container-404">
		<div>
			<p class="text-center"><i class="fas fa-rocket fa-10x"></i></p>
			<h1 class="text-center">ERROR 404</h1>
			<p class="lead text-center">Página no encontrada</p>
		</div>
	</div>

	<script src="js/jquery-3.4.1.min.js" ></script>
	<script src="js/popper.min.js" ></script>
	<script src="js/bootstrap.min.js" ></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js" ></script>
	<script src="js/bootstrap-material-design.min.js" ></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

	<script src="./js/main.js" ></script>
</body>
</html>