<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->


		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-search fa-fw"></i> &nbsp; Buscar caja
				</h3>
				<p class="text-justify">
					En el módulo CAJA usted podrá registrar cajas de ventas en el sistema para poder realizar ventas, además podrá
					actualizar los datos de las cajas de venta, realizar búsquedas de cajas o eliminarlas si lo desea.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="cashier-new">
							<i class="fas fa-cash-register fa-fw"></i> &nbsp; Nueva caja
						</a>
					</li>
					<li>
						<a href="cashier-list">
							<i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de cajas
						</a>
					</li>
					<li>
						<a class="active" href="cashier-search">
							<i class="fas fa-search fa-fw"></i> &nbsp; Buscar caja
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid">
				<form class="form-neon FormularioAjax" action="/cashier-list-nombre/nombre"
					data-form="default" method="POST" autocomplete="off">
					<input type="hidden" name="modulo" value="caja">
					<div class="container-fluid">
						<div class="row justify-content-md-center">
							<div class="col-12 col-md-6">
								<div class="form-group bmd-form-group">
									<label for="nombre" class="bmd-label-floating">¿Qué caja estas buscando?</label>
									<input type="text" class="form-control" name="nombre"
										pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ ]{1,30}" id="nombre" maxlength="30">
								</div>
							</div>
							<div class="col-12">
								<p class="text-center" style="margin-top: 40px;">
									<button type="submit" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp;
										BUSCAR</button>
								</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>


	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>