<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js" ></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>
<body>
	
	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->
    <section class="full-box page-content">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>

      <!-- Page header -->
      <div class="full-box page-header">
          <h3 class="text-left">
              <i class="fas fa-plus fa-fw"></i> &nbsp; NUEVA CATEGORÍA
          </h3>
          <p class="text-justify">
						En el módulo CATEGORÍA usted podrá registrar las categorías que servirán para agregar productos y también podrá ver los productos que pertenecen a una categoría determinada. Además de lo antes mencionado, puede actualizar los datos de las categorías, realizar búsquedas de categorías o eliminarlas si así lo desea.
          </p>
      </div>

      <div class="container-fluid">
        <ul class="full-box list-unstyled page-nav-tabs text-uppercase">
            <li>
                <a class="active" href="category-new">
                    <i class="fas fa-tags fa-fw"></i> &nbsp; Nueva categoría
                </a>
            </li>
            <li>
                <a href="category-list">
                    <i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de categorías
                </a>
            </li>
            <li>
                <a href="category-search">
                    <i class="fas fa-search fa-fw"></i> &nbsp; Buscar categoría
                </a>
            </li>
        </ul>	
      </div>
      
      <!--CONTENT-->
      <div class="container-fluid">
  <form action="/save" class="form-neon" autocomplete="off" method="post">
    <fieldset>
      <legend><i class="far fa-plus-square"></i> &nbsp; Información de la categoría</legend>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="Nombre" class="bmd-label-floating">Nombre de categoría</label>
              <input type="text" pattern="[a-zA-Z0-9-]{1,45}" class="form-control" name="Nombre" id="Nombre" maxlength="30">
            </div>
          </div>
          
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="idEstado" class="bmd-label-floating">Estado</label>
              <select class="form-control" name="idEstado" id="idEstado">
                <option value="" selected="" disabled="">Seleccione una opción</option>
                <option value="1">Habilitado</option>
                <option value="2">Deshabilitado</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="form-group">
              <label for="Detalle" class="bmd-label-floating">Detalle</label>
              <input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,#\- ]{1,190}" class="form-control" name="Detalle" id="Detalle" maxlength="100">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <br><br><br>
    <p class="text-center" style="margin-top: 40px;">
      <button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
      &nbsp; &nbsp;
      <button type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp; GUARDAR</button>
    </p>
  </form>
</div>
      
  </section>
    
	</main>
	
	
	<script src="js/jquery-3.4.1.min.js" ></script> 
	<script src="js/popper.min.js" ></script> 
	<script src="js/bootstrap.min.js" ></script> 
	<script src="js/jquery.mCustomScrollbar.concat.min.js" ></script> 
	<script src="js/bootstrap-material-design.min.js" ></script> 
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script> 
	<script src="js/main.js" ></script> 

</body>
</html>