<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/sweetalert2.min.css">
	<script src="/js/sweetalert2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->

		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-sync fa-fw"></i> &nbsp; Actualizar cliente
				</h3>
				<p class="text-justify">
					En el módulo CLIENTE podrá registrar en el sistema los datos de sus clientes más frecuentes para realizar
					ventas, además podrá realizar búsquedas de clientes, actualizar datos de sus clientes o eliminarlos si así lo
					desea.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="/client-new">
							<i class="fas fa-child fa-fw"></i> &nbsp; Nuevo cliente
						</a>
					</li>
					<li>
						<a href="/client-list">
							<i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de clientes
						</a>
					</li>
					<li>
						<a href="/client-search">
							<i class="fas fa-search fa-fw"></i> &nbsp; Buscar cliente
						</a>
					</li>
				</ul>
			</div>
			<% if (objeto) { %> 
			<div class="container-fluid">
				<p class="text-right"><a href="/client-list" class="btn btn-raised btn-info btn-go-back"><i class="fas fa-reply"></i>
						&nbsp; Regresar atrás</a></p>
				<form class="form-neon FormularioAjax" action="http://systems.designlopers.com/SVI/ajax/clienteAjax.php"
					method="POST" data-form="update" autocomplete="off">
					<input type="hidden" name="cliente_id_up" value="MHluNkdackFKTURyeis0d3JyV3RaUT09">
					<input type="hidden" name="modulo_cliente" value="actualizar">
					<fieldset>
						<legend><i class="far fa-address-card"></i> &nbsp; Información personal</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_tipo_documento" class="bmd-label-floating">Tipo de documento &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="cliente_tipo_documento_up" id="cliente_tipo_documento">
											<option value="" selected="">Seleccione una opción</option>
											<option value="DUI" selected="">1 - DUI (Actual)</option>
											<option value="DNI">2 - DNI</option>
											<option value="Cedula">3 - Cedula</option>
											<option value="Licencia">4 - Licencia</option>
											<option value="Pasaporte">5 - Pasaporte</option>
											<option value="Otro">6 - Otro</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_numero_documento" class="bmd-label-floating">Numero de documento &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-Z0-9-]{7,30}" class="form-control"
											name="cliente_numero_documento_up" value="234234234" id="cliente_numero_documento" maxlength="30">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_nombre" class="bmd-label-floating">Nombres &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{4,35}" class="form-control"
											name="cliente_nombre_up" value="ALEXIS" id="cliente_nombre" maxlength="35">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_apellido" class="bmd-label-floating">Apellidos &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{4,35}" class="form-control"
											name="cliente_apellido_up" value="AVALOS" id="cliente_apellido" maxlength="35">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-map-marked-alt"></i> &nbsp; Información de residencia</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_provincia" class="bmd-label-floating">Estado, provincia o departamento &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{4,30}" class="form-control"
											name="cliente_provincia_up" value="Guatemala" id="cliente_provincia" maxlength="30">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_ciudad" class="bmd-label-floating">Ciudad o pueblo &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{4,30}" class="form-control"
											name="cliente_ciudad_up" value="Guatemala" id="cliente_ciudad" maxlength="30">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_direccion" class="bmd-label-floating">Calle o dirección de casa &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,#\- ]{4,70}" class="form-control"
											name="cliente_direccion_up" value="35 Calle 11-31 Zona 3" id="cliente_direccion" maxlength="70">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="far fa-address-book"></i> &nbsp; Información de contacto</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_telefono" class="bmd-label-floating">Teléfono &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9()+]{8,20}" class="form-control" name="cliente_telefono_up"
											value="55776154" id="cliente_telefono" maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="cliente_email" class="bmd-label-floating">Email</label>
										<input type="email" class="form-control" name="cliente_email_up" value="csdavideduardo@gmail.com"
											id="cliente_email" maxlength="50">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<p class="text-center" style="margin-top: 40px;">
						<button type="submit" class="btn btn-raised btn-success btn-sm"><i class="fas fa-sync"></i> &nbsp;
							ACTUALIZAR</button>
					</p>
					<p class="text-center">
						<small>Los campos marcados con &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp; son
							obligatorios</small>
					</p>
				</form>
			</div>
			<% } %>
		</section>

	</main>


	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="/js/main.js"></script>

</body>

</html>