<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="/css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="/css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="/css/sweetalert2.min.css">
	<script src="/js/sweetalert2.min.js" ></script>
	<link rel="stylesheet" tyoe="text/css" href="/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="/css/style.css">

</head>
<body>
	
	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->
		<section class="full-box page-content">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fab fa-dashcube fa-fw"></i> &nbsp; DASHBOARD
				</h3>
				
   <% if(typeof profile !== 'undefined'){ %>
				<p class="text-justify"> ¡Bienvenido <strong> <%- profile.name %></strong> ! Este es el panel principal del sistema acá podrá encontrar atajos para acceder a los distintos listados de cada módulo del sistema.
				</p>
				<%  } %>
			</div>
			
			<!-- Content -->
					<!-- caja -->
			<div class="full-box tile-container">
				<a href="cashier-list" class="tile">
					<div class="tile-tittle">Cajas</div>
					<div class="tile-icon">
						<i class="fas fa-cash-register fa-fw"></i>
						<p>5 Registrados</p>
					</div>
				</a>
				
				<a href="provider-list" class="tile">
					<div class="tile-tittle">Proveedores</div>
					<div class="tile-icon">
						<i class="fas fa-shipping-fast fa-fw"></i>
						<p>9 Registrados</p>
					</div>
				</a>

				<a href="category-list" class="tile">
					<div class="tile-tittle">Categorías</div>
					<div class="tile-icon">
						<i class="fas fa-tags fa-fw"></i>
						<p>30 Registradas</p>
					</div>
				</a>

				<a href="user-list" class="tile">
					<div class="tile-tittle">Usuarios</div>
					<div class="tile-icon">
						<i class="fas fa-user-tie fa-fw"></i>
						<p>200 Registrados</p>
					</div>
				</a>

				<a href="product-list" class="tile">
					<div class="tile-tittle">Productos</div>
					<div class="tile-icon">
						<i class="fas fa-boxes fa-fw"></i>
						<p>700 Registrados</p>
					</div>
				</a>

				<a href="client-list" class="tile">
					<div class="tile-tittle">Clientes</div>
					<div class="tile-icon">
						<i class="fas fa-child fa-fw"></i>
						<p>50 Registrados</p>
					</div>
				</a>

				<!-- <a href="movement-list" class="tile">
					<div class="tile-tittle">Movimientos</div>
					<div class="tile-icon">
						<i class="fas fa-money-check-alt fa-fw"></i>
						<p>Ingresar</p>
					</div>
				</a> -->

				<!-- <a href="sale-list" class="tile">
					<div class="tile-tittle">Ventas</div>
					<div class="tile-icon">
						<i class="fas fa-coins fa-fw"></i>
						<p>Ingresar</p>
					</div>
				</a> -->

				<!-- <a href="return-list" class="tile">
					<div class="tile-tittle">Devoluciones</div>
					<div class="tile-icon">
						<i class="fas fa-people-carry fa-fw"></i>
						<p>Ingresar</p>
					</div>
				</a> -->

				<a href="shop-list" class="tile">
					<div class="tile-tittle">Compras</div>
					<div class="tile-icon">
						<i class="fas fa-file-invoice-dollar fa-fw"></i>
						<p>Ingresar</p>
					</div>
				</a>

				<a href="company" class="tile">
					<div class="tile-tittle">Reportes</div>
					<div class="tile-icon">
						<i class="far fa-file-pdf fa-fw"></i>
						<p>Ingresar</p>
					</div>
				</a>
			</div>

		</section>
	</main>
	
	
	<script src="js/jquery-3.4.1.min.js" ></script> 
	<script src="js/popper.min.js" ></script> 
	<script src="js/bootstrap.min.js" ></script> 
	<script src="js/jquery.mCustomScrollbar.concat.min.js" ></script> 
	<script src="js/bootstrap-material-design.min.js" ></script> 
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script> 
	<script src="js/main.js" ></script> 

</body>
</html>