<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Alumnos</title>
</head>
<body>
    <h1>Lista de Alumnos Matriculados</h1>
    <hr>
    <form action="/prueba" method="GET">
        <label >Ingrese Nombre</label>
        <input type="text" placeholder="Nombre de Alumno" id="nombre" name="nombre"/>

        <button type="submit">Recuperar</button>
    </form>
    <ul>
    <% if(typeof datos !== 'undefined'){ %>
        <% for (index in datos){ %>
            <li><%= datos[index].nombre %> - <%= datos[index].grado %></li>
        <% } %>
    <% } %>
    </ul>

</body>
</html>