<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content">
				<figure class="full-box nav-lateral-avatar">
					<i class="far fa-times-circle show-nav-lateral"></i>
					<img src="assets/avatar/Avatar.png" class="img-fluid" alt="Avatar">
					<figcaption class="roboto-medium text-center">
						Jasef Huachambe <br><small class="roboto-condensed-light">Web Developer</small>
					</figcaption>
				</figure>
				<div class="full-box nav-lateral-bar"></div>
				<nav class="full-box nav-lateral-menu">
					<ul>
						<li>
							<a href="home"><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</a>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-users fa-fw"></i> &nbsp; Administración <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="cashier-new"><i class="fas fa-cash-register fa-fw"></i> &nbsp; Nueva Caja</a>
								</li>
								<li>
									<a href="category-new"><i class="fas fa-tags fa-fw"></i> &nbsp; Nueva Categoría</a>
								</li>
								<li>
									<a href="provider-new"><i class="fas fa-shipping-fast fa-fw"></i> &nbsp; Nuevo Proveedor</a>
								</li>
								<li>
									<a href="user-new"><i class="fas fa-user-tie fa-fw"></i> &nbsp; Nuevo Usuario</a>
								</li>
								<li>
									<a href="client-new"><i class="fas fa-child fa-fw"></i> &nbsp; Nuevo Cliente</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-pallet fa-fw"></i> &nbsp; Productos <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="product-new"><i class="fas fa-box fa-fw"></i> &nbsp; Nuevo Producto</a>
								</li>
								<li>
									<a href="product-list"><i class="fas fa-pallet fa-fw"></i> &nbsp; Productos en almacen</a>
								</li>
								<li>
									<a href="product-sold"><i class="fas fa-fire-alt fa-fw"></i> &nbsp; Lo más vendido</a>
								</li>
								<li>
									<a href="product-search"><i class="fas fa-search fa-fw"></i> &nbsp; Buscar Productos</a>
								</li>
							</ul>
						</li>
							<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Compras <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="shop-new"><i class="fas fa-shopping-bag fa-fw"></i> &nbsp; Nueva compra</a>
								</li>
								<li>
									<a href="shop-list"><i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Compras realizadas</a>
								</li>
								<li>
									<a href="shop-search"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar Compra</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas  fa-user-secret fa-fw"></i> &nbsp; Ventas <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="sale-new"><i class="fas fa-cart-plus fa-fw"></i> &nbsp; Nueva venta</a> 
								</li>
								<li>
									<a href="sale-list.ejs"><i class="fas fa-coins fa-fw"></i> &nbsp; Lista de Ventas </a>
								</li>
								<li>
									<a href="sale-search-date"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar ventas por fecha</a>
								</li>
								<li>
									<a href="sale-search-code"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar ventas por código</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-wallet fa-fw""></i> &nbsp; Movimientos en caja <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="movement-new"><i class="far fa-money-bill-alt fa-fw"></i> &nbsp; Nuevo movimiento </a> 
								</li>
								<li>
									<a href="movement-list"><i class="fas fa-money-check-alt fa-fw"></i> &nbsp; Movimientos realizados</a>
								</li>
								<li>
									<a href="movement-search"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar movimientos</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-truck-loading fa-fw""></i> &nbsp; Devoluciones <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="return-list"><i class="fas fa-people-carry fa-fw"></i> &nbsp; Devoluciones realizadas</a> 
								</li>
								<li>
									<a href="return-search"><i class="fas fa-dolly-flatbed fa-fw"></i> &nbsp; Buscar devoluciones</a>
								</li>
							</ul>
						</li>		

						<li>
							<a href="#" class="nav-btn-submenu"><i class="far fa-file-pdf fa-fw""></i> &nbsp; Reportes <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="report-sales"><i class="fas fa-hand-holding-usd fa-fw"></i> &nbsp; Reportes de venta </a> 
								</li>
								<li>
									<a href="report-inventory"><i class="fas fa-box-open fa-fw"></i> &nbsp; Reportes de inventario </a>
								</li>
							</ul>
						</li>


						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-cogs fa-fw""></i> &nbsp; Configuraciones <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="company"><i class="fas fa-store-alt fa-fw"></i> &nbsp; Datos de la empresa </a> 
								</li>
								<li>
									<a href="user-update"><i class="fas fa-sync fa-fw"></i> &nbsp; Actualizar cuenta</a>
								</li>
							</ul>
						</li>							


					</ul>
				</nav>
			</div>
		</section>

		<!-- Page content -->

		<section class="full-box page-content scroll">
			<nav class="full-box navbar-info">
				<a href="#" class="float-left show-nav-lateral">
					<i class="fas fa-bars"></i>
				</a>
				<a href="http://systems.designlopers.com/SVI/user-update/dEpjOG5JVWliYnFkMEdKd0NiK3FVUT09/">
					<i class="fas fa-user-cog"></i>
				</a>
				<a href="#" class="btn-exit-system">
					<i class="fas fa-power-off"></i>
				</a>
			</nav>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-money-check-alt fa-fw"></i> &nbsp; Movimientos realizados
				</h3>
				<p class="text-justify">
					En el módulo MOVIMIENTOS usted puede realizar, buscar y ver todos los movimientos de efectivo realizados en
					las cajas de ventas. Los movimientos de <strong>“Entrada de efectivo”</strong> son aquellos donde se ingresa
					dinero a las cajas de ventas. Los movimientos de <strong>“Retiro de efectivo”</strong> son aquellos donde se
					extrae el dinero de las cajas de ventas.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="movement-new">
							<i class="far fa-money-bill-alt fa-fw"></i> &nbsp; Nuevo movimiento
						</a>
					</li>
					<li>
						<a class="active" href="movement-list">
							<i class="fas fa-money-check-alt fa-fw"></i> &nbsp; Movimientos realizados
						</a>
					</li>
					<li>
						<a href="movement-search">
							<i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar movimientos
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid">

				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th>#</th>
								<th>CAJA</th>
								<th>FECHA Y HORA</th>
								<th>TIPO</th>
								<th>E. ANTERIOR</th>
								<th>CANTIDAD</th>
								<th>E. ACTUAL</th>
								<th>USUARIO</th>
								<th>MOTIVO</th>
							</tr>
						</thead>
						<tbody>

							<!-- bloque para replicar -->
							<tr class="text-center">
								<td>15</td>
								<td>Caja N.1</td>
								<td>19-11-2021 09:13 am</td>
								<td>Entrada de efectivo</td>
								<td>$548,445.53 USD</td>
								<td>$20.00 USD</td>
								<td>$548,465.53 USD</td>
								<td>Miguel Angel Batres</td>
								<td>
									<button type="button" class="btn btn-info" data-toggle="popover" data-trigger="hover" title=""
										data-content="Venta de productos" data-original-title="Entrada de efectivo">
										<i class="fas fa-info-circle"></i>
									</button>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
				<p class="text-right">Mostrando movimientos <strong>1</strong> al <strong>15</strong> de un <strong>total de
						1259</strong></p>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
						<li class="page-item"><a class="page-link active"
								href="http://systems.designlopers.com/SVI/movement-list/1/">1</a></li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/movement-list/2/">2</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/movement-list/3/">3</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/movement-list/4/">4</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/movement-list/5/">5</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/movement-list/6/">6</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/movement-list/7/">7</a>
						</li>
						<li class="page-item"><a class="page-link"
								href="http://systems.designlopers.com/SVI/movement-list/2/">Siguiente</a></li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/movement-list/84/"><i
									class="fas fa-angle-double-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</section>


	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>