<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content">
				<figure class="full-box nav-lateral-avatar">
					<i class="far fa-times-circle show-nav-lateral"></i>
					<img src="assets/avatar/Avatar.png" class="img-fluid" alt="Avatar">
					<figcaption class="roboto-medium text-center">
						Jasef Huachambe <br><small class="roboto-condensed-light">Web Developer</small>
					</figcaption>
				</figure>
				<div class="full-box nav-lateral-bar"></div>
				<nav class="full-box nav-lateral-menu">
					<ul>
						<li>
							<a href="home"><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</a>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-users fa-fw"></i> &nbsp; Administración <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="cashier-new"><i class="fas fa-cash-register fa-fw"></i> &nbsp; Nueva Caja</a>
								</li>
								<li>
									<a href="category-new"><i class="fas fa-tags fa-fw"></i> &nbsp; Nueva Categoría</a>
								</li>
								<li>
									<a href="provider-new"><i class="fas fa-shipping-fast fa-fw"></i> &nbsp; Nuevo Proveedor</a>
								</li>
								<li>
									<a href="user-new"><i class="fas fa-user-tie fa-fw"></i> &nbsp; Nuevo Usuario</a>
								</li>
								<li>
									<a href="client-new"><i class="fas fa-child fa-fw"></i> &nbsp; Nuevo Cliente</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-pallet fa-fw"></i> &nbsp; Productos <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="product-new"><i class="fas fa-box fa-fw"></i> &nbsp; Nuevo Producto</a>
								</li>
								<li>
									<a href="product-list"><i class="fas fa-pallet fa-fw"></i> &nbsp; Productos en almacen</a>
								</li>
								<li>
									<a href="product-sold"><i class="fas fa-fire-alt fa-fw"></i> &nbsp; Lo más vendido</a>
								</li>
								<li>
									<a href="product-search"><i class="fas fa-search fa-fw"></i> &nbsp; Buscar Productos</a>
								</li>
							</ul>
						</li>
							<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Compras <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="shop-new"><i class="fas fa-shopping-bag fa-fw"></i> &nbsp; Nueva compra</a>
								</li>
								<li>
									<a href="shop-list"><i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Compras realizadas</a>
								</li>
								<li>
									<a href="shop-search"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar Compra</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas  fa-user-secret fa-fw"></i> &nbsp; Ventas <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="sale-new"><i class="fas fa-cart-plus fa-fw"></i> &nbsp; Nueva venta</a> 
								</li>
								<li>
									<a href="sale-list.ejs"><i class="fas fa-coins fa-fw"></i> &nbsp; Lista de Ventas </a>
								</li>
								<li>
									<a href="sale-search-date"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar ventas por fecha</a>
								</li>
								<li>
									<a href="sale-search-code"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar ventas por código</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-wallet fa-fw""></i> &nbsp; Movimientos en caja <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="movement-new"><i class="far fa-money-bill-alt fa-fw"></i> &nbsp; Nuevo movimiento </a> 
								</li>
								<li>
									<a href="movement-list"><i class="fas fa-money-check-alt fa-fw"></i> &nbsp; Movimientos realizados</a>
								</li>
								<li>
									<a href="movement-search"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar movimientos</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-truck-loading fa-fw""></i> &nbsp; Devoluciones <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="return-list"><i class="fas fa-people-carry fa-fw"></i> &nbsp; Devoluciones realizadas</a> 
								</li>
								<li>
									<a href="return-search"><i class="fas fa-dolly-flatbed fa-fw"></i> &nbsp; Buscar devoluciones</a>
								</li>
							</ul>
						</li>		

						<li>
							<a href="#" class="nav-btn-submenu"><i class="far fa-file-pdf fa-fw""></i> &nbsp; Reportes <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="report-sales"><i class="fas fa-hand-holding-usd fa-fw"></i> &nbsp; Reportes de venta </a> 
								</li>
								<li>
									<a href="report-inventory"><i class="fas fa-box-open fa-fw"></i> &nbsp; Reportes de inventario </a>
								</li>
							</ul>
						</li>


						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-cogs fa-fw""></i> &nbsp; Configuraciones <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="company"><i class="fas fa-store-alt fa-fw"></i> &nbsp; Datos de la empresa </a> 
								</li>
								<li>
									<a href="user-update"><i class="fas fa-sync fa-fw"></i> &nbsp; Actualizar cuenta</a>
								</li>
							</ul>
						</li>							


					</ul>
				</nav>
			</div>
		</section>

		<!-- Page content -->
		<section class="full-box page-content scroll">
			<nav class="full-box navbar-info">
				<a href="#" class="float-left show-nav-lateral">
					<i class="fas fa-bars"></i>
				</a>
				<a href="http://systems.designlopers.com/SVI/user-update/dEpjOG5JVWliYnFkMEdKd0NiK3FVUT09/">
					<i class="fas fa-user-cog"></i>
				</a>
				<a href="#" class="btn-exit-system">
					<i class="fas fa-power-off"></i>
				</a>
			</nav>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-shipping-fast fa-fw"></i> &nbsp; Nuevo proveedor
				</h3>
				<p class="text-justify">
					En el módulo PROVEEDORES usted podrá registrar los proveedores de productos a los cuales usted les compra
					productos o mercancía. Además, podrá actualizar los datos de los proveedores, ver todos los proveedores
					registrados en el sistema, buscar proveedores en el sistema o eliminarlos si así lo desea.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a class="active" href="provider-new">
							<i class="fas fa-shipping-fast fa-fw"></i> &nbsp; Nuevo proveedor
						</a>
					</li>
					<li>
						<a href="provider-list">
							<i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de proveedores
						</a>
					</li>
					<li>
						<a href="provider-search">
							<i class="fas fa-search fa-fw"></i> &nbsp; Buscar proveedor
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid">
				<form class="form-neon FormularioAjax" action="http://systems.designlopers.com/SVI/ajax/proveedorAjax.php"
					method="POST" data-form="save" autocomplete="off">
					<input type="hidden" name="modulo_proveedor" value="registrar">
					<fieldset>
						<legend><i class="far fa-address-card"></i> &nbsp; Datos del proveedor</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="proveedor_tipo_documento" class="bmd-label-floating">Tipo de documento &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="proveedor_tipo_documento_reg" id="proveedor_tipo_documento">
											<option value="" selected="">Seleccione una opción</option>
											<option value="DNI">1 - DNI</option>
											<option value="Cedula">2 - Cedula</option>
											<option value="NIT">3 - NIT</option>
											<option value="RUC">4 - RUC</option>
											<option value="Otro">5 - Otro</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="proveedor_numero_documento" class="bmd-label-floating">Numero de documento &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-Z0-9-]{7,30}" class="form-control"
											name="proveedor_numero_documento_reg" id="proveedor_numero_documento" maxlength="30">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="proveedor_nombre" class="bmd-label-floating">Nombre &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ., ]{4,75}" class="form-control"
											name="proveedor_nombre_reg" id="proveedor_nombre" maxlength="75">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="proveedor_direccion" class="bmd-label-floating">Dirección</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,#\- ]{4,97}" class="form-control"
											name="proveedor_direccion_reg" id="proveedor_direccion" maxlength="97">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="proveedor_estado" class="bmd-label-floating">Estado &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="proveedor_estado_reg" id="proveedor_estado">
											<option value="Habilitado" selected="">1 - Habilitado</option>
											<option value="Deshabilitado">2 - Deshabilitado</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-phone-volume"></i> &nbsp; Información de contacto</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="proveedor_encargado" class="bmd-label-floating">Nombre del encargado</label>
										<input type="text" pattern="[a-zA-Z ]{4,70}" class="form-control" name="proveedor_encargado_reg"
											id="proveedor_encargado" maxlength="70">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="proveedor_telefono" class="bmd-label-floating">Teléfono</label>
										<input type="text" pattern="[0-9()+]{8,20}" class="form-control" name="proveedor_telefono_reg"
											id="proveedor_telefono" maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="proveedor_email" class="bmd-label-floating">Email</label>
										<input type="email" class="form-control" name="proveedor_email_reg" id="proveedor_email"
											maxlength="50">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<p class="text-center" style="margin-top: 40px;">
						<button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp;
							LIMPIAR</button>
						&nbsp; &nbsp;
						<button type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp;
							GUARDAR</button>
					</p>
					<p class="text-center">
						<small>Los campos marcados con &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp; son
							obligatorios</small>
					</p>
				</form>
			</div>
		</section>

	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>