<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->

		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-dolly-flatbed fa-fw"></i> &nbsp; Buscar devoluciones
				</h3>
				<p class="text-justify">
					En el módulo DEVOLUCIONES podrá ver el listado de todas las devoluciones de compras y ventas realizadas.
					Además, podrá buscar devoluciones por fecha.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="return-list">
							<i class="fas fa-people-carry fa-fw"></i> &nbsp; Devoluciones realizadas
						</a>
					</li>
					<li>
						<a class="active" href="return-search">
							<i class="fas fa-dolly-flatbed fa-fw"></i> &nbsp; Buscar devoluciones
						</a>
					</li>
				</ul>
			</div>
			<div class="container-fluid">
				<form class="form-neon FormularioAjax" action=""
					data-form="default" method="POST" autocomplete="off">
					<input type="hidden" name="modulo" value="devolucion">
					<div class="container-fluid">
						<div class="row justify-content-md-center">
							<div class="col-12 col-md-4">
								<div class="form-group bmd-form-group">
									<label for="fecha_inicio" class="bmd-label-static">Fecha inicial (día/mes/año)</label>
									<input type="date" class="form-control" name="fecha_inicio" id="fecha_inicio" maxlength="30">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group bmd-form-group">
									<label for="fecha_final" class="bmd-label-static">Fecha final (día/mes/año)</label>
									<input type="date" class="form-control" name="fecha_final" id="fecha_final" maxlength="30">
								</div>
							</div>
							<div class="col-12">
								<p class="text-center" style="margin-top: 40px;">
									<button type="submit" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp;
										BUSCAR</button>
								</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>

	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>