<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->

		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-coins fa-fw"></i> &nbsp; Ventas realizadas
				</h3>
				<p class="text-justify">
					En el módulo VENTAS podrá realizar ventas de productos, puede usar lector de código de barras o hacerlo de
					forma manual digitando el código del producto (debe de configurar estas opciones en ajustes de su cuenta).
					También puede ver las ventas realizadas y buscar ventas en el sistema.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="sale-new">
							<i class="fas fa-cart-plus fa-fw"></i> &nbsp; Nueva venta
						</a>
					</li>
					<li>
						<a class="active" href="sale-list">
							<i class="fas fa-coins fa-fw"></i> &nbsp; Ventas realizadas
						</a>
					</li>
					<li>
						<a href="sale-search-date">
							<i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar venta (Fecha)
						</a>
					</li>
					<li>
						<a href="sale-search-code">
							<i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar venta (Código)
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid">

				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th>#</th>
								<th>NRO.</th>
								<th>CODIGO</th>
								<th>FECHA</th>
								<th>CLIENTE</th>
								<th>VENDEDOR</th>
								<th>TOTAL</th>
								<th>ESTADO</th>
								<th><i class="fas fa-tools"></i>&nbsp; OPCIONES</th>
							</tr>
						</thead>
						<tbody>

							<!-- bloque para replicar -->
							<tr class="text-center">
								<td>1</td>
								<td>736</td>
								<td>C3Y7R8V2J8-714</td>
								<td>13-11-2021 04:23 pm</td>
								<td>georgina ticay</td>
								<td>Miguel Angel Batres</td>
								<td>$18,750.00 USD</td>
								<td><span class="badge badge-warning">Pendiente</span></td>
								<td>
									<div class="btn-group" role="group" aria-label="Options" style="margin: 0;">
										<a class="btn btn-primary btn-sale-options"
											href="sale-detail" data-toggle="popover"
											data-trigger="hover" title=""
											data-content="Detalles, pagos &amp; devoluciones de venta Nro.736 - código: C3Y7R8V2J8-714"
											data-original-title="Detalle venta Nro. 736">
											<i class="fas fa-cart-plus fa-fw"></i>
										</a>
										<button type="button" class="btn btn-info btn-sale-options"
											onclick="print_invoice('http://systems.designlopers.com/SVI/pdf/invoice.php?code=C3Y7R8V2J8-714')"
											data-toggle="popover" data-trigger="hover" title="" data-content="CÓDIGO: C3Y7R8V2J8-714"
											data-original-title="Imprimir factura Nro. 736">
											<i class="fas fa-file-invoice-dollar fa-fw"></i>
										</button>
										<button type="button" class="btn btn-info btn-sale-options"
											onclick="print_ticket('http://systems.designlopers.com/SVI/pdf/ticket_80mm.php?code=C3Y7R8V2J8-714')"
											data-toggle="popover" data-trigger="hover" title="" data-content="CÓDIGO: C3Y7R8V2J8-714"
											data-original-title="Imprimir ticket Nro. 736">
											<i class="fas fa-receipt fa-fw"></i>
										</button>
										<form class="FormularioAjax" action="http://systems.designlopers.com/SVI/ajax/ventaAjax.php"
											method="POST" data-form="delete" enctype="multipart/form-data" autocomplete="off">
											<input type="hidden" name="venta_codigo_del" value="dTNFcUNHd000V1F5NFU0bjI1a0tMZz09">
											<input type="hidden" name="modulo_venta" value="eliminar_venta">
											<button type="submit" class="btn btn-warning btn-sale-options" data-toggle="popover"
												data-trigger="hover" title="" data-content="CÓDIGO: C3Y7R8V2J8-714"
												data-original-title="Eliminar venta Nro. 736">
												<i class="far fa-trash-alt"></i>
											</button>
										</form>
									</div>
								</td>
							</tr>

							<tr class="text-center">
								<td>1</td>
								<td>757</td>
								<td>G1A8V5D4I6-734</td>
								<td>25-11-2021 08:55 pm</td>
								<td>Cliente Floredo</td>
								<td>Miguel Angel Batres</td>
								<td>$31.20 USD</td>
								<td><span class="badge badge-secondary">Cancelado</span></td>
								<td>
									<div class="btn-group" role="group" aria-label="Options" style="margin: 0;">
										<a class="btn btn-primary btn-sale-options"
											href="sale-detail" data-toggle="popover"
											data-trigger="hover" title=""
											data-content="Detalles, pagos &amp; devoluciones de venta Nro.757 - código: G1A8V5D4I6-734"
											data-original-title="Detalle venta Nro. 757">
											<i class="fas fa-cart-plus fa-fw"></i>
										</a>
										<button type="button" class="btn btn-info btn-sale-options"
											onclick="print_invoice('http://systems.designlopers.com/SVI/pdf/invoice.php?code=G1A8V5D4I6-734')"
											data-toggle="popover" data-trigger="hover" title="" data-content="CÓDIGO: G1A8V5D4I6-734"
											data-original-title="Imprimir factura Nro. 757">
											<i class="fas fa-file-invoice-dollar fa-fw"></i>
										</button>
										<button type="button" class="btn btn-info btn-sale-options"
											onclick="print_ticket('http://systems.designlopers.com/SVI/pdf/ticket_80mm.php?code=G1A8V5D4I6-734')"
											data-toggle="popover" data-trigger="hover" title="" data-content="CÓDIGO: G1A8V5D4I6-734"
											data-original-title="Imprimir ticket Nro. 757">
											<i class="fas fa-receipt fa-fw"></i>
										</button>
										<form class="FormularioAjax" action="http://systems.designlopers.com/SVI/ajax/ventaAjax.php"
											method="POST" data-form="delete" enctype="multipart/form-data" autocomplete="off">
											<input type="hidden" name="venta_codigo_del" value="cVNYSjZuOUdyQzI2VEFLajBSOXhwUT09">
											<input type="hidden" name="modulo_venta" value="eliminar_venta">
											<button type="submit" class="btn btn-warning btn-sale-options" data-toggle="popover"
												data-trigger="hover" title="" data-content="CÓDIGO: G1A8V5D4I6-734"
												data-original-title="Eliminar venta Nro. 757">
												<i class="far fa-trash-alt"></i>
											</button>
										</form>
									</div>
								</td>
							</tr>

						</tbody>

					</table>
				</div>
				<p class="text-right">Mostrando ventas <strong>1</strong> al <strong>15</strong> de un <strong>total de
						734</strong></p>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
						<li class="page-item"><a class="page-link active"
								href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">3</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">4</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">5</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">6</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">7</a>
						</li>
						<li class="page-item"><a class="page-link"
								href="#">Siguiente</a></li>
						<li class="page-item"><a class="page-link" href="#"><i
									class="fas fa-angle-double-right"></i></a></li>
					</ul>
				</nav>
			</div>

			<script>
				function print_ticket(url) {
					window.open(url, 'Imprimir ticket', 'width=400,height=720,top=0,left=100,menubar=NO,toolbar=YES');
				}
				function print_invoice(url) {
					window.open(url, 'Imprimir factura', 'width=820,height=720,top=0,left=100,menubar=NO,toolbar=YES');
				}
			</script>
		</section>

	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>