<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->

		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-shopping-bag fa-fw"></i> &nbsp; Detalles de compra
				</h3>
				<p class="text-justify">
					En el módulo COMPRAS usted podrá registrar compras de productos ya sea nuevos o ya registrados en sistema.
					También puede ver la lista de todas las compras realizadas, buscar compras y ver información más detallada de
					cada compra.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="shop-new">
							<i class="fas fa-shopping-bag fa-fw"></i> &nbsp; Nueva compra
						</a>
					</li>
					<li>
						<a href="shop-list">
							<i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Compras realizadas
						</a>
					</li>
					<li>
						<a href="shop-search">
							<i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar compra
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid form-neon">
				<p class="text-right"><a href="shop-list" class="btn btn-raised btn-info btn-go-back"><i class="fas fa-reply"></i>
						&nbsp; Regresar atrás</a></p>
				<div class="container-fluid" id="invoice-shop">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-6">
								<p><strong class="text-uppercase">Fecha:</strong> 23-11-2021</p>
								<p><strong class="text-uppercase">Compra registrada por:</strong> Miguel Angel Batres</p>
							</div>
							<div class="col-12 col-md-6">
								<p><strong class="text-uppercase">Proveedor:</strong><br>Framacia enrique<br>sbghjgkjh</p>
							</div>
						</div>
					</div>
					<div class="container-fluid">
						<div class="table-responsive">
							<table class="table table-hover table-bordered">
								<thead class="bg-info">
									<tr class="text-center text-uppercase">
										<th scope="col">#</th>
										<th scope="col">Descripción</th>
										<th scope="col">Cantidad</th>
										<th scope="col">Precio</th>
										<th scope="col">Subtotal</th>
										<th scope="col">Devolución</th>
									</tr>
								</thead>
								<tbody>

									<tr class="text-center text-uppercase">
										<th scope="row">1</th>
										<td>mesa</td>
										<td>123</td>
										<td>$1.00 USD</td>
										<td>$123.00 USD</td>
										<td>
											<button type="button" class="btn btn-primary" data-toggle="popover" data-trigger="hover" title=""
												data-content="mesa" onclick="devolucion_producto('245','mesa')"
												data-original-title="Realizar devolución">
												<i class="fas fa-dolly fa-fw"></i>
											</button>
										</td>
									</tr>

									<tr class="text-center text-uppercase font-weight-bold">
										<td colspan="3"></td>
										<td>Subtotal</td>
										<td>$101.65 USD</td>
										<td></td>
									</tr>
									<tr class="text-center text-uppercase font-weight-bold">
										<td colspan="3"></td>
										<td>IVA 21%</td>
										<td>$21.35 USD</td>
										<td></td>
									</tr>
									<tr class="text-center text-uppercase font-weight-bold">
										<td colspan="3"></td>
										<td>Total</td>
										<td>$123.00 USD</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<p class="text-center">
					<a href="#" class="btn btn-outline-info print-barcode" data-id="#invoice-shop"><i class="fas fa-print"></i>
						&nbsp; Imprimir</a>
				</p>

				<hr style="margin: 70px 0; ">

				<h4 class="text-center">Devoluciones realizadas</h4>
				<div class="container-fluid" id="return-shop">
					<div class="table-responsive">
						<table class="table table-hover table-bordered">
							<thead class="bg-success">
								<tr class="text-center text-uppercase">
									<th scope="col">#</th>
									<th scope="col">Fecha</th>
									<th scope="col">Producto</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Precio</th>
									<th scope="col">Total</th>
									<th scope="col">Vendedor</th>
									<th scope="col">Caja</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center text-uppercase">
									<td colspan="8">No hay datos para mostrar</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<p class="text-center">
					<a href="#" class="btn btn-outline-info print-barcode" data-id="#return-shop"><i class="fas fa-print"></i>
						&nbsp; Imprimir</a>
				</p>

				<!-- Modal devolucion -->
				<div class="modal fade" id="ModalReturn" tabindex="-1" role="dialog" aria-labelledby="ModalReturn"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<form class="modal-content FormularioAjax"
							action="http://systems.designlopers.com/SVI/ajax/devolucionAjax.php" method="POST" data-form="save"
							autocomplete="off">
							<div class="modal-header">
								<h5 class="modal-title" id="ModalReturn">Realizar devolución (<span id="devolucion_descripcion"></span>)
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">
								<input type="hidden" name="modulo_devolucion" value="compra">
								<input type="hidden" name="codigo_compra" id="codigo_compra" value="W1N7X0Q5U3-450">
								<input type="hidden" name="id_producto" id="id_producto" value="">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12 col-md-6">
											<div class="form-group bmd-form-group is-filled">
												<label for="devolucion_caja" class="bmd-label-static">Caja</label>
												<input type="text" class="form-control" value="Caja Nro.1 (Caja principal)" id="devolucion_caja"
													readonly="">
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="form-group bmd-form-group">
												<label for="devolucion_cantidad" class="bmd-label-static">Cantidad a devolver</label>
												<input type="text" class="form-control" id="devolucion_cantidad" name="devolucion_cantidad"
													pattern="[0-9]{1,9}" maxlength="9">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="far fa-times-circle"></i>
									&nbsp; Cancelar</button>
								<button type="submit" class="btn btn-info"><i class="fas fa-dolly fa-fw"></i> &nbsp; Realizar
									devolución</button>
							</div>
						</form>
					</div>
				</div>

				<script>
					/*----------  Hacer devolucion  ----------*/
					function devolucion_producto(producto, descripcion) {
						producto.trim();
						descripcion.trim();

						document.querySelector('#id_producto').value = producto;
						document.querySelector('#devolucion_descripcion').innerHTML = descripcion;

						$('#ModalReturn').modal('show');
					}
				</script>
			</div>
		</section>


	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>