<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->

		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de usuarios
				</h3>
				<p class="text-justify">
					En el módulo USUARIO podrá registrar nuevos usuarios en el sistema ya sea un administrador o un cajero,
					también podrá ver la lista de usuarios registrados, buscar usuarios en el sistema, actualizar datos de otros
					usuarios y los suyos.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="user-new">
							<i class="fas fa-user-tie fa-fw"></i> &nbsp; Nuevo usuario
						</a>
					</li>
					<li>
						<a class="active" href="user-list">
							<i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de usuarios
						</a>
					</li>
					<li>
						<a href="user-search">
							<i class="fas fa-search fa-fw"></i> &nbsp; Buscar usuario
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid">

				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th>#</th>
								<th>DOCUMENTO</th>
								<th>CARGO</th>
								<th>NOMBRE</th>
								<th>USUARIO</th>
								<th>TELEFONO</th>
								<th>ACTUALIZAR</th>
								<th>ELIMINAR</th>
							</tr>
						</thead>
						<tbody>

							<!-- bloque para replicar -->
							<tr class="text-center">
								<td>1</td>
								<td>Cedula: 3735931</td>
								<td>Administrador</td>
								<td>Alejandra Lopez</td>
								<td>Alejandra</td>
								<td>+595981662123</td>
								<td>
									<a class="btn btn-success"
										href="user-update">
										<i class="fas fa-sync fa-fw"></i>
									</a>
								</td>
								<td>
									<form class="FormularioAjax" action="http://systems.designlopers.com/SVI/ajax/usuarioAjax.php"
										method="POST" data-form="delete" enctype="multipart/form-data" autocomplete="off">
										<input type="hidden" name="usuario_id_del" value="bTN4NVFnVno1cmlRUzlrd3UxT3ViUT09">
										<input type="hidden" name="modulo_usuario" value="eliminar">
										<button type="submit" class="btn btn-warning">
											<i class="far fa-trash-alt"></i>
										</button>
									</form>
								</td>
							</tr>

						</tbody>


					</table>
				</div>
				<p class="text-right">Mostrando usuarios <strong>1</strong> al <strong>15</strong> de un <strong>total de
						61</strong></p>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
						<li class="page-item"><a class="page-link active"
								href="http://systems.designlopers.com/SVI/user-list/1/">1</a></li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/user-list/2/">2</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/user-list/3/">3</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/user-list/4/">4</a>
						</li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/user-list/5/">5</a>
						</li>
						<li class="page-item"><a class="page-link"
								href="http://systems.designlopers.com/SVI/user-list/2/">Siguiente</a></li>
						<li class="page-item"><a class="page-link" href="http://systems.designlopers.com/SVI/user-list/5/"><i
									class="fas fa-angle-double-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</section>

	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>